/* fonts */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* dictionary */

:root{

  --cream:#eee7dd;

  --light: rgb(225, 225, 224);
  --alt: rgb(174, 179, 188); 

  --darkblue: rgb(33, 66, 84);

  --indigo:#171625;
  
  --headerfont: 3rem;
  --largefont: 2.5rem;
  --mediumfont: 1.4rem;
  --smallfont: 1.25rem;
  --textfont: 1rem;

  /* font-family: "EB Garamond", serif; */

}

/* General */

* {
  box-sizing: border-box; /*accounts for margin and padding in sizing, easier to size */
  margin: 0;
  padding: 0;
  letter-spacing: .1rem;
  font-family: "EB Garamond", serif;
}

html{
  /* overflow: auto; */
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  line-height: 1.62; /* golden ratio */
  background: var(--darkblue);
}

main{
  border-top: var(--silverblue) solid 2px;
}

ul {
  list-style-type: none; /* takes bullet points out */
}

h1{
  color: var(--light);
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  font-size: var(--headerfont);
  display: flex;
  align-items: center;
  height: 10rem;
}

h2{
  text-align: center;
  font-weight: 500;
  font-size: var(--largefont);
  
}

h3{
  font-size: var(--smallfont);
}

h4{
  font-size: var(--textfont);
  text-align: center;
  font-weight: 300;
}

h5{
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%; /*keep images inside box container*/
}

a{
  text-decoration: none; /* takes underline out*/
}

a:focus{
  outline: var(--darkblue);
}

a:visited{
  color: inherit; /* return visited a tag to initial color */
}

a:active{  
  /* emulates pressing of button in 3d space */
  top: 1px;
}

a[href^="tel"] {
  color: inherit; /* inherit text color of parent element. */
  text-decoration: none;
}

#logo{
  position: relative;
  width: 15em;
  top: 1.5rem;
  margin: auto;
  display: flex;
}

/* Navigation */

#navbar{
  display: flex;
  position: sticky;
  flex-direction: column;
  top: 0;
  width: 15vw;
  height: 100vh;
  background: var(--light);
  border-right: var(--light) solid 2px;
}

.navlinks{
  position: relative;
  text-align: center;
  width: 100%;
  top: 3rem;
}

.navlinks li a{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  font-size: var(--smallfont);
  color: var(--darkblue);
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  border-bottom: var(--darkblue) solid 1.5px;
}

.navlinks li:first-child{
  border-top: var(--darkblue) solid 1.5px;
}

/* Home */

#home{
  display: flex;
}
 
.home-main{
  width: 100%;
}

.header-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  text-align: center;
  width: 100%;
  margin: auto;
  border-bottom: var(--light) solid 2px;
}

.header-h2{
  position: relative;
  top: 3rem;
  width: 100%;
  margin: auto;
  order: -1;
  color: var(--light);
}

.header-h3{
  position: relative;
  top: 10rem;
  color: var(--light);
  margin: auto;
  text-align: center;
}

.home-banner-img{
  display: flex;
  position: relative;
  top: 8rem;
  margin: auto;
  width: 75%;
  z-index: -1;
}

.home-number::after{
  position: absolute;
  bottom: 7rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 7%;
  content: '.';
  color: transparent;
  background: var(--light);
  height: 2px;
}

.home-address{
  position: relative;
  top: 2rem;
}


/* Units */

#units{
  height: 100vh;
}

/* Location */

/* Contact */