/* fonts */

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* dictionary */

:root{

  --light: rgb(225, 225, 224);
  --alt: rgb(174, 179, 188); 
  --darkblue: rgb(33, 66, 84);
  --indigo:#171625;

  --headerfont: 3.2rem;
  --largefont: 2.25rem;
  --mediumfont: 1.5rem;
  --smallfont: 1.25rem;
  --textfont: 1rem;

  /* font-family: "EB Garamond", serif; */

}

/* General */

* {
  box-sizing: border-box; /*accounts for margin and padding in sizing, easier to size */
  margin: 0;
  padding: 0;
  letter-spacing: .1rem;
  font-family: "EB Garamond", serif;
}

html{
  /* overflow: auto; */
  scroll-behavior: smooth;
  scroll-padding-top: 15vh;
}

body {
  line-height: 1.62; /* golden ratio */
  background: var(--darkblue);
}

main{
  border-top: var(--silverblue) solid 2px;
}

ul {
  list-style-type: none; /* takes bullet points out */
}

h1{
  color: var(--light);
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  font-size: var(--headerfont);
  display: flex;
  align-items: center;
  height: 15vh;
}

h2{
  text-align: center;
  font-weight: 500;
  font-size: var(--largefont);
  
}

h3{
  font-size: var(--mediumfont);
}

h4{
  font-size: var(--smallfont);
  text-align: center;
  font-weight: 300;
}

h5{
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%; /*keep images inside box container*/
}

a{
  text-decoration: none; /* takes underline out*/
}

a:focus{
  outline: var(--darkblue);
}

a:visited{
  color: inherit; /* return visited a tag to initial color */
}

a:active{  
  /* emulates pressing of button in 3d space */
  top: 1px;
}

a[href^="tel"] {
  color: inherit; /* inherit text color of parent element. */
  text-decoration: none;
}

#logo{
  position: relative;
  width: 15em;
  top: 1.5rem;
  margin: auto;
  display: flex;
}

.sub-main-section{
  border-top: var(--light) solid 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  padding: 3rem;
  width: 85%;
}

/* Navigation */

#navbar{
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  width: 15vw;
  height: 100vh;
  background: var(--light);
  border-right: var(--light) solid 2px;
  z-index: 3;
}

.navlinks{
  position: relative;
  text-align: center;
  width: 100%;
  top: 3rem;
}

.navlinks li a{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 4rem 0;
  font-size: var(--smallfont);
  color: var(--darkblue);
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  border-bottom: var(--darkblue) solid 1.5px;
  transition: all 200ms ease-in-out;
}

.navlinks li a:hover{
  background: var(--darkblue);
  color: var(--light);
}

.navlinks li:first-child{
  border-top: var(--darkblue) solid 1.5px;
}

/* Home */

#home{
  display: flex;
}
 
.home-main{
  width: 85%;
  margin-left: auto;
  margin-top: 10rem;
}

.header-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  text-align: center;
  width: 85%;
  margin: auto;
  z-index: 2;
  border-bottom: var(--light) solid 2px;
  background-color: var(--darkblue);
}

.header-h2{
  position: relative;
  top: 3rem;
  width: 100%;
  margin: auto;
  order: -1;
  color: var(--light);
}

.header-h3{
  position: relative;
  top: 10rem;
  color: var(--light);
  margin: auto;
  text-align: center;
}

.home-banner-img{
  display: flex;
  position: relative;
  top: 8rem;
  margin: auto;
  width: 55%;
  z-index: -1;
}

.home-number{
  position: relative;
}

.home-number::after{
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 7%;
  content: '.';
  color: transparent;
  background: var(--light);
  height: 2px;
}

.home-address{
  position: relative;
  top: 2rem;
}

/* Units */

#units{
    margin-top: 15rem;
}

#units .navlinks li a:active{
  background: var(--darkblue);
}

.unit-header{
  color: var(--light);
  position: relative;
  padding: 0 0 2rem;
  margin: 0 auto 2rem;
  font-size: var(--largefont);
}

.unit-header::after{
  position: absolute;
  content: '';
  width: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 50%;
  background-color: var(--light);
  opacity: .8;
  margin: auto;
}

.unit-subheader{
  color: var(--light);
  text-align: center;
}

.unit-subheader h3{
  padding-top: 2rem;
}

#units header h3{
  margin: 0 0 2rem;
  color: var(--light);
}

.unit-chart{
    position: relative;
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 14em);
    width: fit-content;
    background: var(--darkgrey2);
    color: var(--navbar);
    padding: 1em;
    border-radius: 2px;
    margin: auto;
    text-align: center;
    font-size: .9em;
    font-weight: 500;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.548);
    /* border: orange solid 2px; */
}

.unit-chart article{
  border: var(--light) solid 2px;
  color: var(--light);
  font-size: var(--mediumfont);
}

.unit-chart article ul li{
  border-bottom: var(--light) 2px solid;
  padding: 1.5rem;
}


/* Location */

#location img{
  display: flex;
  width: 65%;
  margin: 2rem auto;
}

/* Contact */

/* Mobile Responsiveness */

@media (min-width: 280px) 
and (max-width: 1240px) 
{

  body,html {
    /* hide navigation when off screen */
    overflow-x: hidden;
    scroll-padding-top: 0;
  }

  img {
  width: 100%; /*keep images inside box container*/
  max-width: 500px;
  }

  h1{
  position: relative;
  left: 0;
  font-size: var(--largefont);
  text-align: center;
  }  


/*  Navigation  */

  .navlinks ul > li:hover .dropdown-nav{
    display: none;
  }

  #navbar {
    height: 10vh;
  }

  .burger {
    position: fixed; /*keeps hamburger menu locked on right side of screen*/
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.7rem;
    height: 1.4rem;
    margin: auto;
    cursor: pointer;
    z-index: 9999;
  }
  
  .burger .bar{
    height: .1rem;
    width: 100%;
    background-color: var(--light);
    border-radius: 1rem; 
    transition: all .5s ease-out;
  }

  .nav-invert .bar{
    background-color: var(--darkblue);
    transition: all .5s ease-in;
  }
  
  #bar2{
    width: 74%;
    align-self: flex-end;
  }

  #logo{
    top: 0;
  }
  
  #logo-wrapper{
    margin: 1em auto 0;
    flex-wrap: wrap;
    flex-direction: column;
    order: -1; /* put logo at top of navbar on mobile */
    height: fit-content;
    width: fit-content;
  }
  
  #logo{
    display: none;
  }

  #navbar{
    display: none;
  }

  .navlinks{
    display: flex;
    position: relative;
    width: auto;
    right: 0;
    margin-left: auto;
  }
  
  .navlinks-menu.active{
    transform: translateX(0%);
  }
  
  .navlinks ul{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    height: 100vh;
    top: 0;
    width: 100vw;
    padding: 0;
    background: var(--alt);
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
  }
  
  .navlinks ul li{
    width: 100%;
    margin: 0 auto;
  }
  
  .navlinks ul li a {
    position: relative;
    color: var(--white);
    width: auto;
    height: 100%;
    align-items: center;
    font-size: var(--smallfont);
    font-weight: 700;
  }
  
  .navlinks ul li a::after{
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    height: 4px;
    border-radius: 50%;
    background-color: var(--white);
    opacity: .5;
  }

  .navlinks-menu li:last-child a::after{
    display: none;
  }
  
  .navlinks .active-nav{
    font-size: var(--smallfont);
  }

  .dropdown-nav{
    display: none;
    pointer-events: none;
  }
  
  .page-header{
    padding: 5em 2em;
    margin: auto;
  }

  .page-header h2{
    font-size: var(--mediumfont);
  }

  /* Index/Home */

  .sub-main-section{
    width: 100%;
    margin: auto;
  }

  .home-banner-inner{
    width: 100%;
    padding: 2rem 0;
    flex-direction: column;
    gap: 2rem;
    height: auto;
  }

  .unit-chart{
    margin: 0;
  }

  .home-main{
    width: 100%;
  }

  .header-h1{
    width: 100%;
    margin: auto;
  }

  #home-samples{
    display: none;
  }

  #location img{
    width: 100%;
  }


  /* Contact */

  /* Footer */

  footer{
    padding: 2em 0 5em;
    margin-top: 5rem;
  }

  footer ul{
    gap: 3em;
  }

  footer ul li a{
    line-height: 2.5;
  }

  .footer-item h3{
    width: 50%;
  }

  .footer-item{
    margin: 3rem auto;
  }

  .footer-nav{
    border-top: var(--main) solid 2px;
    border-bottom: var(--main) solid 2px;
    padding: 4rem 0 5rem;
  }

  #footer{
    flex-direction: column;
    width: 100%;
  }

  #footer .logo-footer{
    order: -1;
  }

  .footer-nav{
    flex-direction: column;
    width: 100%;
  }

}